# Node.js dependencies
node_modules/


# Build output
/dist/
/build/

# System files
.DS_Store
Thumbs.db


# IDE/Editor settings
.vscode/
.idea/


# Logs
*.log

# npm package-lock and yarn lock files
package-lock.json
yarn.lock

# Chrome extension packaging files
*.zip

# Environment variables or sensitive data
.env

# OS-specific files
*.bak
*.swp

